.inventory {
  /* width: 100%; */
  position: relative;
  background-color: var(--main-background);
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  font-family: var(--label-2-regular);
}

.inventory-container {
  width: 100%;
  min-width: 92vw;
}