.view-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-4xl) var(--padding-xl);
}

.heading-left,
.heading-right {
    display: flex;
    gap: var(--gap-2xl);
}

.head-info {
    display: flex;
    gap: var(--gap-6xs);
}

.head-title {
    font-weight: 500;
}

.head-text {
    color: var(--black-30);
}

.copy-icon {
    cursor: pointer;
}

.edit {
    background-color: black;
    color: white;
    border: none;
    border-radius: var(--br-xs);
    padding: var(--padding-5xs) var(--padding-2xl);
    /* -webkit-appearance: none;
    -moz-appearance: none; */
}

.action {
    background-color: var(--action-red);
    color: white;
    border: none;
    border-radius: var(--br-xs);
    padding: var(--padding-5xs) var(--padding-2xl);
    font-weight: 400;
    font-size: var(--paragraph-2-regular-size);
    cursor: pointer;
}

.action:hover {
    background-color: red;
}

.view-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xl);
    font-size: var(--paragraph-1-medium-size);
    font-family: var(--label-2-regular);
    margin-top: 0.5rem;
    font-weight: 400;
}

.row1 {
    display: grid;
    grid-template-columns: .7fr 1.3fr 1.1fr 1.1fr;
    gap: 19px;
    padding: 0 var(--padding-2xs);
    align-self: stretch;
}

.body-info {
    height: max(15vh, 145px);
    flex: 1;
    border-radius: var(--br-xs);
    flex-direction: column;
    padding: var(--padding-2xs) var(--padding-mini);
    box-sizing: border-box;
    background-color: var(--white);
    color: var(--black-30);
    font-size: var(--paragraph-2-regular-size);
    font-weight: 300;
}

.row2 {
    display: flex;
    gap: 19px;
    padding: 0 var(--padding-2xs);
    align-self: stretch;
    flex-direction: row;
}

.body-card {
    height: max(15vh, 145px);
    flex: 1;
    border-radius: var(--br-xs);
    flex-direction: column;
    padding: var(--padding-2xs) var(--padding-mini);
    box-sizing: border-box;
    background-color: var(--white);
    color: var(--black-30);
    font-size: var(--paragraph-2-regular-size);
    font-weight: 300;

}

.row1-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row1-img img {
    height: 96%;
    width: auto;
}

.info-black {
    color: black;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-up,
.info-down {
    height: 50%;
    padding: var(--padding-5xs);
    box-sizing: border-box;
}

.info-down {
    align-items: flex-end;
}

.info-up {
    align-items: flex-start;
}

.published {
    color: green;
    background-color: var(--background-green);
    border-radius: var(--br-5xs);
    padding: var(--padding-9xs) var(--padding-2xs);
    text-align: center;
    font-size: var(--label-1-regular-size);
    font-weight: 400;
}

.unpublished {
    background-color: var(--secondary-30);
    color: var(--black-100);
    border-radius: var(--br-5xs);
    padding: var(--padding-9xs) var(--padding-2xs);
    text-align: center;
    font-size: var(--label-1-regular-size);
    font-weight: 400;
}

.down-price {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}

.price-label {
    color: black;
    font-size: var(--paragraph-2-regular-size);
    font-weight: 500;
}

.down-numbers {
    display: flex;
    width: auto;
}

.down-numbers .down-price {
    width: 50%;
}

.number-label {
    color: black;
    font-weight: 500;
    font-size: var(--subheading-3-medium-size);
}

.grid-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.out-of-stock2 {
    color: var(--action-red);
}

.row3 {
    width: max(87vw, 95%);
    min-width: 87vw;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--white);
    height: 650px;
    padding: 0 var(--padding-base);
    margin: 0 1rem;
}

.maincontainer1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
    margin-top: 1rem;
    width: auto;
}

.inventory-items-parent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dashboard {
    font-weight: 500;
}

.left-parent,
.right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.right {
    gap: var(--gap-xs);
    text-align: center;
    font-size: var(--label-2-regular-size);
    color: var(--black-50);
}

.left-parent {
    gap: var(--gap-6xs);
    font-size: var(--label-1-regular-size);
    color: var(--color-darkgray-100);
}

.search {
    align-self: stretch;
    position: relative;
}

.input-content1 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border: none;
}

.input-content,
.left {
    display: flex;
    justify-content: flex-start;
}

.input-content {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-6xs);
}

.left {
    width: 176px;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    height: 29px;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-9xs) var(--padding-5xs);
}

.filter-icon {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}

.icon-search {
    width: 20px;
    position: relative;
    height: 20px;
}

.label-container1,
.tablebuttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.label-container1 {
    gap: var(--gap-5xs);
}

.tablebuttons {
    border-radius: var(--br-9xs);
    border: 1px solid var(--black-50);
    box-sizing: border-box;
    height: 29px;
    padding: var(--padding-5xs);
    cursor: pointer;
    font-size: var(--label-1-regular-size);
    color: var(--black-40);
}

.tablebuttons:hover {
    background-color: var(--grey);
}

.tablebuttons-select {
    padding: var(--padding-9xs) var(--padding-5xs);
}

.tableheader-order {
    width: 100%;
    position: relative;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    box-sizing: border-box;
    height: 52px;
    overflow: hidden;
    flex-shrink: 0;
    color: var(--black-90);
    display: grid;
    grid-template-columns: .33fr 1.33fr 1.33fr 1fr 1fr 1fr 1fr 1fr;
}

.category-parent {
    /* position: absolute; */
    /* top: 3px; */
    /* left: 107px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}

.tablerow-order {
    width: 100%;
    position: relative;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: .33fr 1.33fr 1.33fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--black-40);
}

.tablerow-order:hover {
    background-color: #eee;
}